/packages/
riderModule.iml
/_ReSharper.Caches/
**/.vs
**/bin
**/obj
**/*.user
**/Logs/*
**/.idea
**/.vscode
**/.env
dist
node_modules
**/app.db-shm
**/app.db-wal
**/secrets**.json
**/PublishProfiles
**/.fuse*
